.crm{
  margin: 20px 0 100px;
  &__body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
  &__figure{
    flex: 1 0 363px;
    max-width: 363px;
    margin: 0;
    img{
      display: block;
      margin: auto;
    }
  }
  &__content{
    flex: 1 0 calc(50% - 30px);
    max-width: 50%;
    align-self: center;
    color: #ffffff;
    .btn{
      margin-top: 40px;
      width: 100%;
      max-width: 215px;
    }
  }
  @include r(1023){
    &__figure{
      flex: 1 0 calc(50% - 30px);
      max-width: 50%;
    }
    &__content{
      .btn{
        margin-top: 20px;
        max-width: 215px;
      }
    }
  }
  @include r(767){
    margin: 20px 0 80px;
    &__figure{
      flex: 1 0 100%;
      max-width: 100%;
    }
    &__content{
      flex: 1 0 100%;
      max-width: 100%;
      .btn{
        max-width: 100%;
      }
    }
  }
}