.hero{
  margin-top: 40px;
  margin-bottom: 100px;
  &__body{
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
  }
  &__content{
    flex: 1 0 50%;
    max-width: 50%;
    align-self: center;
  }
  &__suptitle{
    font-size: 56px;
    margin: 0 0 30px;
  }
  &__title{
    font-size: 32px;
    margin-top: 20px;
  }
  &__anons{
    margin-top: 10px;
    font-size: 18px;
    line-height: 25px;
    b{
      color: #00B39B;
    }
  }
  &__anim{
    flex: 1;
    font-size: 18px;
    color: #ffffff;
    position: relative;
  }
  @include r(1023){
    &__content{
      flex: 1 0 100%;
      max-width: 100%;
    }
    &__anim{
      flex: 1 0 100%;
      font-size: 18px;
    }
  }
}