.study{
  margin-bottom: 100px;
  &__body{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__content{
    flex: 1;
  }
  &__aside{
    flex: 1 0 362px;
    max-width: 362px;
  }
  @include r(1023){
    margin-bottom: 80px;
    &__aside{
      max-width: 300px;
    }
  }
}