<div class="footer">
    <div class="container">
        <div class="footer__body">
            <a href="" class="footer__logo">
                <img src="./img/logo.svg" width="135" height="35" alt="">
            </a>
            <nav class="footer__nav nav-footer">
                <div class="nav-footer__item">
                    <h4 class="nav-footer__title">Курсы</h4>
                    <a href="">Вёрстка сайтов на HTML и CSS</a>
                    <a href="">Базовый JavaScript</a>
                </div>
                <div class="nav-footer__item">
                    <h4 class="nav-footer__title">Информация</h4>
                    <a href="">Частые вопросы</a>
                    <a href="">Договор оферта</a>
                </div>
                <div class="nav-footer__item">
                    <h4 class="nav-footer__title">Контакты</h4>
                    <a href="">+7 747 774 70 47</a>
                    <a href="">maximum454@gmail.com</a>
                </div>
            </nav>
        </div>
    </div>
</div>